<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    </head>
    <body ng-app="ToDoList">
        <div ng-controller="MainController">
            <div ng-repeat="item in list">
                <li>{{item}}</li>
            </div>
            <input ng-model="addToDo">
            <button ng-click="addItem()">Add this To-Do</button>
        </div>
        
        <script src="js/app.js"></script>
        <script src="js/controllers/MainController.js"></script>
    </body>
</html>